@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    background-color: #1c1c23;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* small */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* Request Page */

#header {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#header .filter {
    width: 30px;
    height: 30px;
    color: white;
}

#header h2 {
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* .reqBox {
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.reqBox #reqHeader {
    background-color: #2C645B;
}

.reqBox #reqHeader ul {
    display: flex;
    justify-content: space-around;
}

.reqBox #reqHeader ul li {
    font-weight: bold;
    position: relative;
} */

table {
    width: 100%;
    background-color: white;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

table,
tr {
    border-collapse: collapse;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

table .header-row th {
    padding: 10px;
    color: #E6E7EE;
}

table .data-row td {
    padding: 10px;
    text-align: center;
}

table .data-row td a {
    color: black;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

table .data-row td a:hover {
    color: #2C645B;
}

table .even-row {
    background-color: #D3D3D3;
}


/* Header.css */


/* ComboBox dropdown */

.select-dropdown {
    width: 200px;
    /* Adjust width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}


/* ComboBox options */

#header select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 5px;
    background-color: #333;
    padding: 2px;
    color: white;
}


/* Hover effect on ComboBox */

.select-dropdown:hover {
    border-color: #666;
}


/* Focus effect on ComboBox */

.select-dropdown:focus {
    outline: none;
    border-color: #4acd8d;
    box-shadow: 0 0 5px #2C645B;
}